.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.App-header {
  background-color: #222;
  width: 19%;
  height: 5%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-cal {
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
  border: 3px solid black;
}

.App-widget {
  background-color: purple;
  width: 22.5%;
  height: 20%;
  overflow: auto;
}
.addButton {
  border-radius: 20px;
  width: 15%;
  height: 60px;

}
.plus {
  font-size: 20px;
}